.wrapper-filter{
    width: 80%;
    background: rgba(80, 85, 112, 0.2);
    border-radius: 10px;
    padding: 10px 10px 5px 5px;
  }
  .price-input{
    width: 100%;
    display: flex;
    padding: 1em;
  }
  .price-input .field{
    display: block;
    width: 80%;
    align-items: center;
  }
  .field input{
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #999;
  }
  .price-input .separator{
    width: 10px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
    margin: 5px;
  }
  .slider{
    height: 5px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
    margin-top: -20px;
    width: 100%;
  }
  .slider .progress{
    height: 100%;
    left: 25%;
    right: 25%;
    position: absolute;
    border-radius: 5px;
    background: #8b1310;
  }
  .range-input{
    position: relative;
  }
  .range-input input{
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  input[type="range"]::-webkit-slider-thumb{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #fd990c;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
  }
  input[type="range"]::-moz-range-thumb{
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: #fd990c;
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
  }
  input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
    }