
  /* Hide the images by default */
  .mySlides {
    width: 100%;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #fd990c;
    font-weight: bold;
    font-size: 20px;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev {
    left: 0;
    border-radius: 0 3px 3px 0;
  }
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: #8b1310;
    color: white;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
    width: 100% ;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 12%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

  .carrusel{
    width: 95.5%;
    background-color: #fd990c;
    padding: 0em;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    margin: 1em auto 0em auto;
  }

  .details {
    width: 95.5%;
    margin: 0em 0em 2em 3em;
    padding: 2em;
    background-color: #f1f1f1;
    color: #333;
    border-radius: 0px 0px 10px 10px;
  }
  
  .thumb{
    height: 135px;
    width:200px;
  }
  
  .image {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 680px;
    margin: 0px auto 0em;
    box-shadow: none;
    object-fit: initial;
    border-radius: 10px 10px 0px 0px;
}

.btn_volver{
  margin-top: 10em;
  margin-left: 2.5em;
}