.details {
    width: 100%;
    margin: 5em auto 1em;
    padding: 1em;
    background-color: #f1f1f1;
    color: #333;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.24);
    transition: all ease-in 0.15s;
    border-radius: 10px;
  }
